/* .addingQues{
    align-items: center;
    padding: 10px;
    border: 1px solid red;
    margin:auto 40px;
}
.addingQues button{
    border-radius: 5px;
}

input{
    height: 40px;
    width: 100px;
    color: black;
} */

.options{
    padding: 20px;
}